mixin setting(type, label, placeholder, name, info)
	li.settings__item
		.settings__wrap
			label.settings__label(for=type)= label
			input.settings__input(type=type name=name id=type placeholder=placeholder disabled)
			button(type="button" data-field=name).settings__btn
		if (info)
			.settings__info.settings__info--hidden
				span.settings__note Пожалуйста, подтвердите адрес электронной почты
				span.settings__action
					button(type="button") Отправить 
					| сообщение на почту еще один раз.

mixin checkbox(text, number, className, additionalClass)
	label(class=className + ' ' + additionalClass)
		input(type="checkbox")
		span.text #{text}
		span.number #{number}

mixin range-slider(slider)
	label.portfolio__label= slider.label
	.portfolio__range(id=`slider-${slider.id}`)
		.portfolio__range-values
			span.portfolio__range-nr(id=`value-${slider.id}-1`) 0
			|  - 
			span.portfolio__range-nr(id=`value-${slider.id}-2`) 0
			|  млрд Руб